<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>54523978195-547iv072fpe0lbf43d6bpmivkjqdpldp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.54523978195-547iv072fpe0lbf43d6bpmivkjqdpldp</string>
	<key>API_KEY</key>
	<string>AIzaSyCJofB22fWXlgbnNJxjeFGzONrWh4KGJDA</string>
	<key>GCM_SENDER_ID</key>
	<string>54523978195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fagetti.ees</string>
	<key>PROJECT_ID</key>
	<string>fagetti-94a7e</string>
	<key>STORAGE_BUCKET</key>
	<string>fagetti-94a7e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:54523978195:ios:03dfa4c1e0d19ccd1acf26</string>
</dict>
</plist>